.aboutContent {
    font-weight: 300;
    width: 700px;
    margin: 0 auto;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    padding: 20px;
}

a {
    color:blue;
}

.title2 {
    padding:10px;
}

.title1 {
    padding-top:20px;
}