.App {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height:1200px;
    background-color: #c5effc;
  }
  
  .content-container {
    margin:0 auto;
    text-align: center;
    width: 100%;
    height: 1200px;
    background-color: #c5effc;
    position: relative;
  }
  
.stockscontainer {
  display: flex;
  justify-content: center;
}