.graphs-container {
    margin: 0 auto;
    width: 85%;
    height: 250px;
    background-color: #5EBD96;
    display:block;
    justify-content: space-evenly;
    padding:20px;
}

.line-graph {
    background-color: #7EC796;
    position: absolute;
}

.bar-graph {
    background-color: #7EC796;
    position: absolute;
    margin-left:20px;
}

.outerContainer {
    background-color: #5EBD96;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100%;
}