.App {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  height:400px;
  background-color: #C9DD94;
}

.content-container {
  margin:0 auto;
  text-align: center;
  width: 700px;
  height: 400px;
  background-color: #9DCF94;
  position: relative;
}