.App {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  text-align: center;
  width: 90%;
  height:100%;
  background-color: white;
}

.content-container {
  margin:0 auto;
  text-align: center;
  width: 70%;
  height: 100%;
  background-color: #9DCF94;
  position: relative;
}